:root {
  --main-bg: rgb(94, 94, 94);
  --container-bg: rgb(63, 63, 63);

  font-size: 62.5%; /* 62.5% of default browser 16px = 10px ... when writing rem sizes this means we write 2.6rem to represent 26px fonts, 1.3 for 13px, etc */
  --font: 2.2rem 'Inter', Helvetica, system-ui, sans-serif;
  --text: rgb(208, 208, 208);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-wrap: break-word;
  line-height: 1.1;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

body {
  background: var(--main-bg);
  font: var(--font);
  color: var(--text);
  height: 100vh;
}

#container {
  display: flex;
  gap: 5px;
}

#menu, #hero, #tasks {
  display: flex;
  background: var(--container-bg);
  height: 100vh;
}

/* |----------------------------------| */
/* |- - - - - SETTINGS MENU  - - - - -| */
/* |----------------------------------| */

#menu {
  width: 20vw;
}

/* |----------------------------------| */
/* |- - - - - LINK CONTAINER - - - - -| */
/* |----------------------------------| */

#hero {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
}

/* |----------------------------------| */
/* |- - - - - TODO/TASK LIST - - - - -| */
/* |----------------------------------| */

#tasks {
  width: 20vw;
}

/* |----------------------------------| */
/* |- - - - - - SEARCH BAR - - - - - -| */
/* |----------------------------------| */

#search input {
  background: var(--container-bg);
  color: var(--font);
  font-size: 2.6rem;
  width: 500px;
  height: 50px;
  padding-left: 10px;
  margin-bottom: 50px;
  border: none;
  border-bottom: 1px dotted white;
}